<%= flash[:notice] %>
<%= render 'layouts/public_header' %>
<div>
  <h3><%= @customer.nickname %></h3>
  <%= image_tag @customer.get_profile_image(100,100) %>
  <p><%= link_to "プロフィール編集", edit_customer_path %></p>
</div>
<h3>いいね（ブックマーク）一覧</h3>
<% @favorites.each do |favorite| %>
  <div>
    <%= link_to diary_path(favorite.diary_id) do %>
      <%= image_tag favorite.diary.get_image %>
    <% end %>
    <p><%= link_to favorite.diary.title, diary_path(favorite.diary_id) %></p>
    <p>説明：<%= favorite.diary.body %></p>
    <p>ユーザーネーム：<%= favorite.customer.nickname %></p>
    <p><%= link_to "#{favorite.diary.diary_comments.count} コメント", diary_path(favorite.id) %></p>
  </div>
<% end %>
