<%= render 'layouts/public_header' %>
<h4>受付中</h4>
<%= image_tag @question.get_image %>
<p>タイトル：<%= @question.title %></p>
<p>説明：<%= @question.body %></p>
<p>投稿ユーザー画像：<%= image_tag @question.customer.get_profile_image(100,100) %></p>
<p>ユーザーネーム：<%= @question.customer.nickname %></p>
<p>投稿日：<%= @question.created_at.strftime('%Y/%m/%d') %></p>

<h4>あなたの回答</h4>
<div>
  <%= form_with model: [@answer, @question], url: question_answers_path(@question.id) do |f| %>
    <h4>回答</h4>
    <%= f.text_area :body %>
    <h4>参考画像</h4>
    <%= f.file_field :image, accept: "image/*" %>
    <%= f.submit "送信する" %>
  <% end %>
</div>