<%= render 'layouts/public_header' %>
<h2>新着日記</h2>
<div class="row mt-4">
    <% @diaries.each do |diary| %>
      <div class="col">
        <div class="card">
          <%= link_to diary_path(diary) do %>
            <%= image_tag diary.get_image, size: "200x200", class: "card-img-top" %>
          <% end %>
        </div>
        <div class="card-body">
          <div class="h5 card-title"><%= diary.title %></div>
          <div class="h6 card-subtitle">by <%= diary.customer.nickname %></div>
        </div>
      </div>
  <% end %>
</div>