<%= render 'layouts/public_header' %>
<%= image_tag @question.get_image %>
<p>タイトル：<%= @question.title %></p>
<p>説明：<%= @question.body %></p>
<p>投稿ユーザー画像：<%= image_tag @question.customer.get_profile_image(100,100) %></p>
<p>ユーザーネーム：<%= @question.customer.nickname %></p>
<p>投稿日：<%= @question.created_at.strftime('%Y/%m/%d') %></p>
<p><%= link_to  "回答する", new_question_answer_path(question_id: @question.id) %></p>

<h4>回答</h4>
<% @answers.each do |answer| %>
  <%= answer.body %>
  <%= image_tag answer.get_image(100,100 ) %>
<% end %>