<% @diaries.each do |diary| %>
  <%= link_to admin_diary_path(diary.id) do %>
    <%= image_tag diary.get_image %>
  <% end %>
  <p>タイトル：<%= diary.title %></p>
  <p>説明：<%= diary.body %></p>
  <p>ユーザーネーム：<%= diary.customer.nickname %></p>
  <p><%= link_to "#{diary.diary_comments.count} コメント", admin_diary_path(diary.id) %></p>
<% end %>